<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application android:theme="@style/Theme.Frientree">
        <service
            android:name=".music.BackgroundMusicService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".mypage.PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".collection.CollectionActivity"
            android:exported="false" />
    </application>

</manifest>
